/* This styling will be injected in the active page.
Try to avoid injecting common class names, or selectors that can target more than needed, to avoid overwrite site styling,
unless off course that is the goal of your extension... :)
Also be aware that sites might have CSS selectors with strong specificity for any general elements you're injecting (like img).
So make sure to use a high specificity in those cases (like by using ID selectors) */

#pingu-popup {
  display: block;
  height: 100px;
  width: auto;
  position: fixed;
  left: 50%;
  bottom: -100px;
  transition: transform ease 200ms;
  z-index: 9999999;
}

#pingu-popup-large {
  display: block;
  height: 400px;
  width: auto;
  position: fixed;
  left: calc(50% - 267px);
  bottom: -400px;
  transition: transform ease 2500ms;
  z-index: 9999999;
}

#pingu-popup.show-pingu {
  transform: translateY(-100px);
}

#pingu-popup-large.show-pingu {
  transform: translateY(-400px);
}